<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1> Dashboard page</h1>

    <hr>

    <h2>Your name Is :  <mark><%- data.username%></mark></h2>
    <h2>Your Email Is :  <mark><%- data.useremail%></mark></h2>
        <h2>Your Address Is :  <mark><%- data.useraddress%></mark></h2>


    
</body>
</html>